<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: header">
</head>


<body>
<div th:replace="template :: rowsmenu"></div>


	
	<div th:if="${mode} eq 'MODE_ROWS'" class="container text-centre" id="rowsDiv">

		<h3>Data for table <span th:text="${tableName}"></span></h3>
		<div>Selected table Id:	<span th:text="${selectedTable}"></span></div>
		<hr />
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Date</th>
						<th>Category</th>
						<th>Amount</th>
						<th>Note</th>
						<th>Delete</th>
						<th>Update</th>

					</tr>
				</thead>
				<tbody>

					<tr th:each="row : ${rows}">
						<td th:text="${row.id}"></td>
						
						<td th:text="${#dates.format(row.cdate,'dd/MM/yyyy')}"></td>
						<td th:text="${row.cat}"></td>
						<td th:text="${row.amount}"></td>
						<td th:text="${row.note}"></td>
						<td><a th:href="@{/mtables/{id}/rows/delete(id=${selectedTable},rowId=${row.id})}"><span
								class="glyphicon glyphicon-trash"></span>Delete</a></td>
						<td><a th:href="@{/mtables/{id}/rows/update(id=${selectedTable},rowId=${row.id})}"><span
								class="glyphicon glyphicon-edit"></span>Update</a></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>

<div th:if="${mode} eq 'MODE_TEMPO'" class="container text-center">
				<h3>Manage tables</h3>
				<hr/>
				
				<div th:object="${table}">
				<p th:text="${table.Id}">Nothing</p>
				 <input type="text" th:field="${table.name}" />
				 <input type="text" th:field="${table.descriptor}" />
				 <input type="text" th:field="${table.date_created}"/>
				</div>
</div>
			
<div th:if="${mode} eq 'MODE_NEW_ROW' or ${mode} eq 'MODE_UPDATE_ROW'">
				<form class="form-horizontal" method="post" action="#" th:action="@{save-row}" th:object="${row}">
				  <input type="hidden" th:field="*{id}" />
					
					<div class="form-group">
						<label class="control-label col-md-3">Date</label>
						<div class="col-md-7">
						     <!-- To use fomated date input use  
						          @DateTimeFormat(pattern="dd/MM/yyyy") for date field in entity Class !!!
						      -->
							<input type="text"  class="form-control"
								th:field="*{cdate}"/>
						</div>
						<span style="color: red;" th:if="${#fields.hasErrors('cdate')}" th:errors="*{cdate}">Error</span>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Category</label>
						<div class="col-md-7">
							<input type="text" class="form-control" th:field="*{cat}" />
						
						</div>
						<span style="color: red;" th:if="${#fields.hasErrors('cat')}" th:errors="*{cat}">Cat Error</span>
 
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Amount</label>
						<div class="col-md-7">
							<input type="text" class="form-control" th:field="*{amount}" />
						
						</div>
						<span style="color: red;" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Error</span>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Note</label>
						<div class="col-md-7">
							<input type="text" class="form-control" th:field="*{note}" />
						
						</div>
						<span style="color: red;" th:if="${#fields.hasErrors('note')}" th:errors="*{note}">Error</span>
					</div>
					<div class="pull-right">
						<input type="submit" class="btn btn-primary" value="Submit" />
					</div>
				</form>

</div>


<div th:replace="template :: footer"></div>			
</body>

</html>